body{
    font-family: Arial, sans-serif;
    background-color: #299cb9;
    display: flex;
    justify-content: center;
    padding-top: 80px;
    margin-top: 50px;
}
h1{
    font-family: Arial, sans-serif;
    font-size: 40px;
}
.login{
    width:600px;
    background:#299cb9;
    padding:40px;
    text-align: center;
}